<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="invoicesApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="invoicesApp.invoice.number">Number</span></dt>
                <dd>
                    <span>{{invoice.number}}</span>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{invoice.invoiceDate}}</span>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{invoice.dueDate}}</span>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.tax">Tax</span></dt>
                <dd>
                    <span>{{invoice.tax}}</span>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.contractor">Contractor</span></dt>
                <dd>
                    <div *ngIf="invoice.contractorId">
                        <a [routerLink]="['/contractor-my-suffix', invoice.contractorId, 'view']">{{invoice.contractorId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="invoice.customerId">
                        <a [routerLink]="['/customer-my-suffix', invoice.customerId, 'view']">{{invoice.customerId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="invoicesApp.invoice.items">Items</span></dt>
                <dd>
                    <span *ngFor="let items of invoice.items; let last = last">
                        <a [routerLink]="['/item-my-suffix', items?.id, 'view' ]">{{items.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-my-suffix', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
